<section class="bills">
  <p>bills works!</p>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Labore, numquam
    debitis sequi harum cupiditate accusamus nihil asperiores suscipit veniam
    hic rem reiciendis soluta dolores, optio, corporis nam dolore ratione.
    Natus.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis,
    sapiente eveniet dicta minima, totam repellendus placeat, odit reiciendis
    laudantium aliquid optio vitae nemo. Omnis quisquam a iure voluptates dicta.
    Aut.
  </p>
</section>
