<section class="side-menu">
  <mat-drawer-container autosize>
    <mat-drawer #drawer mode="side">
      <mat-list>
        <mat-list-item>
          <a
            routerLink="/bills"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Рахунки</a
          >
        </mat-list-item>
        <mat-list-item>
          <a
            routerLink="/companies"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Компанії</a
          >
        </mat-list-item>
        <mat-list-item>
          <a
            routerLink="/companies/addacompany"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Додати Компанію</a
          >
        </mat-list-item>
        <mat-list-item>
          <a
            routerLink="/companies/company"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Компанія</a
          >
        </mat-list-item>
      </mat-list>
    </mat-drawer>

    <button mat-icon-button (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-drawer-container>
</section>
